.headerWrapper {
    box-shadow: 0 3px 5px 1px #333333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 72rem;
    margin: auto;
    width: 100%;
}
.teamData {
    display: flex; 
    align-items: center;
}

.logo {
    width: 3rem;
    height: auto;
}
.img { 
    width: 100%;
    height: auto;
}

.nav {
    display: flex;
}
.ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}